.one-blog {
  height: 540px;
  .img-block {
    height: 60%;
  }
  img {
    width: 100%; /* зображення займає всю доступну ширину блоку */
    height: 100%;
  }
  .author-block {
    height: 10%;
    font-size: 14px;
    // border: 2px solid blue;
  }
  .title-block {
    height: 6%;
    // border: 2px solid black;
  }
  .blog-text {
    height: 24%;
    // border: 2px solid red;
    overflow: auto;
  }
}
